<div class='form-header-spacing'>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 ">
            <div class='row'>
                <div class='col-xs-12 col-sm-12'>
                    <h1></h1>
                </div>
            </div>

            <div class='form-spacing'></div>

<%= form_tag sessions_path, id: "session-form" do %>

<div class='form-group'>
    <div class='row'>
        <div class=' col-sm-3 col-xs-3 '>
            <%= label_tag :email%>
        </div>
        <div class=' col-sm-9 col-xs-9'>
            <%= email_field_tag :email, '', class: 'form-control' %>
        </div>
    </div>
</div>

<div class='form-group'>
    <div class='row'>
        <div class='col-sm-3 col-xs-3'>
            <%= label_tag :password, nil, class:'form-label'%>
        </div>
        <div class='col-sm-9 col-xs-9'>
          <%= password_field_tag :password, '', class: 'form-control' %>
        </div>
    </div>
</div>

<div class='row'>
          <div class='col-sm-9 col-sm-offset-3 col-sm-12'>
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
            &nbsp;&nbsp;<%= label_tag :remember_me %>
          </div>
        </div>

<div class='form-spacing'></div>

<div class='form-group'>
    <div class='row'>
        <div class=' col-sm-offset-4 col-sm-7 col-xs-offset-3 col-xs-6 '></br>
        <%= submit_tag "Login", class:'btn btn-primary btn-block'%>
    </div>
</div>
</div>

<% end %>
</div>

<div class="col-md-4 col-md-offset-1 border-left">
    <div class='row'>
        <div class='col-xs-6 col-sm-11'>
            <img class="logo-sign" src="/images/logo-2.png" alt="Arcade"/>
        </div>
        <div class="col-xs-3">
            <h3>
                Don't have an account?
            </h3>
            <%= link_to 'Create Account', new_user_path, class:"light-orange"%>
        </div>
    </div>
</div>
</div>
</div>
