<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs register-form-control">
    <%= f.input :company, placeholder:"Company name", label: false%>
    <%= f.input :email, placeholder:"Email", label: false %>
    <%= f.input :password, placeholder:"Password", label: false %>
    <%= f.input :password_confirmation, placeholder:"Confirm password", label: false %>
    <%= f.input :employees, placeholder:"Number of employees", label: false %>
    <%= f.input :genres, placeholder:"Genres", label: false %>
    <%= f.input :website, placeholder:"Website", label: false %>
    <%= f.input :twitter, placeholder:"Twitter", label: false %>
  </div>

<div class="control-group">
  <div class="attach-set text-center">
    <%= f.input :logo, input_html: { class: 'hidden-input' }, label: 'Upload company logo' %>
    <div class="input-append">
      <input id="file-display" class="input-large uneditable-input" type="text">
      <a id="upload-btn" class="btn"><i class="icon-upload-alt"></i>Upload</a>
    </div>
  </div> <!-- /attach-set -->
</div> <!-- /control-group -->

  <div class="form-actions register-form-group">
    <%= f.button :submit, class: "btn btn-default register-button" %>
  </div>
<% end %>
