<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :logo %>
    <%= f.input :employees %>
    <%= f.input :genres %>
    <%= f.input :website %>
    <%= f.input :twitter %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
