
<div id="developer-page-wrapper">
  <div class='col-xs-4'>
    <div id="dev-logo" style="background-image: url('<%= @user.logo %>')"></div>
    <h4>
      <strong>Company:</strong>
      <%= @user.company %>
    </h4>

    <h4>
      <strong>Email:</strong>
      <%= @user.email %>
    </h4>

    <h4>
      <strong>Employees:</strong>
      <%= @user.employees %>
    </h4>

    <h4>
      <strong>Genres:</strong>
      <%= @user.genres %>
    </h4>

    <h4>
      <strong>Website:</strong>
      <%= @user.website %>
    </h4>

    <h4>
      <strong>Twitter:</strong>
      <%= @user.twitter %>
    </h4>
  </div>
  <div class="col-xs-8">
    <% @games.each do |game| %>
      <div class="row" style="text-align: center">
        <h1><%= game.title %></h1>
        <div class="col-xs-4">
          <div id="game-picture" style="background-image: url('<%= game.picture %>')"></div>
            </div>
        <div class="col-xs-8" style="text-align: center">
          <h2><%= game.description %></h2>
        </div>
      </div>
      <hr>
    <% end %>
  </div>


</div>
