<% if @games.present? %>
  <div class="row">
    <% @games.each do |g|  %>
    <div class="col-md-4">

        <div class="panel-result col-md-12 padding-zero">
          <div class="">
            <div class="img panel-img">
              <%= display_picture g %>
            </div>
            <div class= "overlay-btn">
            <%= link_to (fa_icon "edit"), edit_game_path(g), :class=>"btn btn-primary" %>
            <%= link_to (fa_icon "gamepad"), new_game_key_path(g), :class=>"btn btn-primary" %>
            <%= link_to (fa_icon "trash"), game_path(g),
                                 method: :delete,
                                 data: {confirm: 'Are you sure?'}, :class=>"btn btn-primary" %>
            </div>
          </div>
           <!-- class="tag-wrapper text-center" -->
          <div>
            <p class="tag-boxes">
            <% g.tags.each do |t| %>
                <%= t.name %>
            <% end %>
            </p>
          </div>
          <div class="col-md-12" id="padding-zero">
              <h5 class="game-title-header"><%= link_to g.title, game_path(g), class: "game-title" %></h3>
              <div>
                  <p class="gamer-details-author"> <span class="madeby"> made by:</span><br>
                  <%= link_to g.user.company, user_path(g.user) %></p>
                  <!-- <hr style="border-color: #333;"> -->
                  <!-- <p class="pull-left" style="margin-right:20px; margin-bottom:20px;"> -->
                  <!-- </p> -->
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>There are no matches for your search</h1>
<% end %>
<%= paginate @games %>
