  <h1>All Games</h1>
  <!-- All games are contained in a div -->
  <div>
    <% @games = @games.find_by_status(1) %>
  <% if @games.present? %>
    <% @games.each do |g|  %>
    <!-- Each game is in a div  -->
      <div>
        <div><%= display_picture g %></div>
          <h2><%= link_to g.title, game_path(g) %></h2>
          <p><%= link_to g.user.company, game_path(g) %></p>
          <p><%= g.tags.map {|t| t.name}.join(", ") %></p>
          <hr>
        </div>
    </div>
    <% end %>
  <% else %>
    <p>There are no matches for your search</p>
  <% end %>
  <%= paginate @games %>

<%= form_tag(games_path, :method => 'get', id: 'tags') do %>
  <%= collection_check_boxes(:tag, :tag_ids, @tags, :id, :name, include_hidden: false) %>
  <%= submit_tag :search %>
<% end %>
