<h2>Master list of games</h2>

<div>
<% if @games.present? %>
  <% @games.each do |g|  %>
  <!-- Each game is in a div  -->
    <div class = "container box">
      <div class="pull-left"><%= display_picture g %></div>
        <h2 style = "margin-left:60px;"><%= link_to g.title, game_path(g), :style=>"color:#003c62; text-decoration: none;" %></h2>
        <p style="margin-left:60px;"><%= link_to g.user.company, game_path(g) %></p>
        <p style="margin-left:60px;"><%= g.tags.map {|t| t.name}.join(", ") %></p>
        <p><%= g.status.name %></p>
        <hr>
      </div>
  </div>
  <% end %>
<% else %>
  <p>There are no matches for your search</p>
<% end %>
<%= paginate @games %>

<%= form_tag(games_path, :method => 'get', id: 'tags') do %>
<%= collection_check_boxes(:tag, :tag_ids, @tags, :id, :name, include_hidden: false) %>
<%= submit_tag :search %>
<% end %>
<% games_not_released = Status.find_by_name("Not released").games %>
<% games_not_released.each do |game| %>
  <div>
    <div><%= link_to game.title, game_path(game)%></div>
    <div><%= game.user.company %></div>
    <div><%= game.status.name %></div>
    <hr>
  </div>
<% end %>
<% games_released = Status.find_by_name("Released to arcade").games %>
<% games_released.each do |game| %>
  <div>
    <div><%= link_to game.title, game_path(game)%></div>
    <div><%= game.user.company %></div>
    <div><%= game.status.name %></div>
    <hr>
  </div>
<% end %>
<% games_rejected = Status.find_by_name("Rejected").games %>
<% games_rejected.each do |game| %>
  <div>
    <div><%= link_to game.title, game_path(game)%></div>
    <div><%= game.user.company %></div>
    <div><%= game.status.name %></div>
    <hr>
  </div>
<% end %>
<hr>
<div>
  Status of Arcades
  <hr>
  <div>
    <% Location.find_each do |location| %>
      <%= location.name %>: <strong><%= location.run_status %></strong> <br>
    <% end %>
  </div>
</div>
