  <h1 class="games-index-h1">All Games</h1>
  <!-- All games are contained in a div -->
  <div>
  <% if @games.present? %>
    <% @games.each do |g|  %>
    <!-- Each game is in a div  -->
      <div class="container box">

        <div class = "pull-eft"><%= display_picture g %></div>
          <h2 style ="margin-left:60px;"><%= link_to g.title, game_path(g), :style =>"color:#003c62; text-decoration: none;" %></h2>
          <p style="margin-left:60px;"><%= link_to g.user.company, game_path(g) %></p>
          <p style ="margin-left:60px;"><%= g.tags.map {|t| t.name}.join(", ") %></p>
          <hr>
        </div>
    </div>
    <% end %>
  <% else %>
  <div class = "box">
    <p>There are no matches for your search</p>
  </div>
  <% end %>
  <%= paginate @games %>
