<h1 class="games-index-h1">All Games</h1>
 <!-- All games are contained in a div -->
 <% if @games.present? %>
   <% @games.each do |g|  %>
   <!-- Each game is in a div  -->
     <div class="wrap">
       <div class="game-picture"><%= display_picture g %></div>
       <div class="game-details">
         <h2 style="float:left;"><%= link_to g.title, game_path(g), class: "game-title" %></h2>
         <div>
         <p>made by: <%= link_to g.user.company, user_path(g.user) %></p>
         <p><%= g.tags.map {|t| t.name}.join(", ") %></p>
         <p><%= g.status.name %></p>
         </div>
       </div>
       </div>
     <!-- </div> -->
     <% end %>
 <% else %>
   <p>There are no matches for your search</p>
 <% end %>
 <%= paginate @games %>
