<h2><%= @game.title %></h2>
 <div class="char1"> <%= display_picture @game %> &nbsp; Made by: <%= @developer %></div>

 <div>
   <div>Date: <%= @date %></div>
   <div>Type:</div>
   <div>
   <% @game.taggings.map do |tagging| %>
     <%= Tag.find(tagging.tag_id).name %> &nbsp;|&nbsp;
   <% end %>
   </div>
   <div>Last in Arcade: <%= @last_played %></div>
   <div>Played: <%= @play_times %> times</div>
   <div>Overall Rating: <%= @rating %></div>
     <div>
       Send email to developer about the game:
       <%#= input type = "text-field" %>
     </div>
<br>
 <div class="btn">
   <%= button_to "Download Game", game_path(@game), method: :get %>
 </div>
 <div class="radiolist">
 <!-- <button>Download game</button> -->
   <%= simple_form_for(@game) do |f| %>
     <%= f.error_notification %>
     <div>
       <%= f.input :status_id, as: :radio_buttons, collection: Status.all.collect{ |s| [ s.name, s.id] } %>
     </div>

     <div id = "submit-show">
       <%= f.button :submit %>
     </div>
   <% end %>
 </div>
