<div id="index-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="container-index-games">
          <%= form_tag(games_path, :method => 'get', id: 'tags') do %>
            <h4 id="narrow-by-tags">Narrow by tags</h4>
            <% tagged = params[:tag].present? ? params[:tag][:tag_ids] : nil%>
            <%= collection_check_boxes(:tag, :tag_ids, @tags, :id, :name, include_hidden: false, checked: tagged) do |t| %>
              <%= t.label class: "checkbox checkbox-primary" do %>
                <%= t.check_box %>
                <span style="margin-left: 35px;"><%= t.text %></span>
              <% end %>
            <% end %>
            </br>
            <h4 class="search-type"> Search by studio </h4>
            <%= text_field_tag :search_user, params[:search_user], placeholder: "developer...", class: 'form-control' %>
            <br>
            <% if user_is_admin? %>
            <h4 class="search-type">Search by status</h4>
              <%= collection_select :search_state, nil, @states, :first, :last, {include_blank: 'All Games', selected: params[:search_state]}, {class: 'form-control'} %>
              <br>
            <% end %>
            <%= submit_tag :search, class: "btn btn-primary form-control"%>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
          <%= render 'index' %>
      </div>
    </div>
  </div>
</div>
