<!-- ADMIN VIEW -->
<%# If current user is an admin show this via authorizations %>
<% if user_is_admin? %>
  <%= render 'index_admin' %>
<!-- DEV VIEW -->
<% elsif user_is_dev? %>
  <%= render 'index_dev' %>
<!-- GAMER VIEW -->
<% else %>
  <%= render 'index_gamer' %>

  <h1>All Games</h1>
  <!-- All games are contained in a div -->
  <div style="min-height:500px;">
  <% if @games.present? %>
    <% @games.each do |g|  %>
    <!-- Each game is in a div  -->
      <div>
        <h2><%= g.title %></h2>
        <p><%= g.user.company %></p>
        <p><%= g.tags.map {|t| t.name}.join(", ") %></p>
        <hr>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>There are no matches for <%= params[:search] %></p>
  <% end %>
<% end %>

<%= form_tag(games_path, :method => 'get', id: 'tags') do %>

  <% @tags.each do |t| %>
     <p>
       <%= check_box_tag(t.id) %>
       <%= label_tag(t.id, "#{t.name}") %>
     </p>
     <% end %>
     <%= submit_tag :search %>
<% end %>
  <!-- Bar used bay users to search for gams by developer. All developers that include the entered string will be returned. -->

<%= form_tag(games_path, :method => 'get', id: 'search-form') do %>
  <div>
    <%= label_tag :search_user %>
    <%= text_field_tag :search_user, [:search_user], placeholder: 'Search' %>
    <%= submit_tag :search %>
  </div>
<% end %>
