<!-- ADMIN VIEW -->
<%# If current user is an admin show this via authorizations %>
<% if user_is_admin? %>
  <%= render 'index_admin' %>
<!-- DEV VIEW -->
<% elsif user_is_dev? %>
  <%= render 'index_dev' %>
<!-- GAMER VIEW -->
<% else %>
  <%= render 'index_gamer' %>
<% end %>

<%= form_tag(games_path, :method => 'get', id: 'tags') do %>

  <% @tags.each do |t| %>
     <p>
       <%= check_box_tag(t.id) %>
       <%= label_tag(t.id, "#{t.name}") %>
     </p>
     <% end %>
     <%= submit_tag :search %>
<% end %>
  <!-- Bar used bay users to search for gams by developer. All developers that include the entered string will be returned. -->

<%= form_tag(games_path, :method => 'get', id: 'search-form') do %>
  <div>
    <%= label_tag :search_by_user %>
    <%= text_field_tag :search_user, [:search_user] %>
    <%= submit_tag :search_user %>
  </div>
<% end %>
