
<!-- ADMIN VIEW -->
<%# If current user is an admin show this via authorizations %>

<% if user_signed_in? && current_user.admin %>
  <h2>List of Games to Approve</h2>
  <hr>
  <% games_for_review = Status.find_by_name("Under Review").games %>
  <% games_for_review.each do |game| %>
    <div>
      <div><%= link_to game.title, game_path(game)%></div>
      <div><%= game.user.company %></div>
      <hr>
    </div>
    <% end %>
<% else %>

  <h1>All Games</h1>
  <!-- All games are contained in a div -->
  <div>
  <% if @games.present? %>
    <% @games.each do |g|  %>
    <!-- Each game is in a div  -->
      <div>
          <h2><%= link_to g.title, game_path(g) %></h2>
          <p><%= link_to g.user.company, game_path(g) %></p>
          <p><%= g.tags.map {|t| t.name}.join(", ") %></p>
          <hr>
        </div>
    </div>
    <% end %>
  <% else %>
    <p>There are no matches for your search</p>
  <% end %>
<% end %>

<%= form_tag(games_path, :method => 'get', id: 'tags') do %>
  <%= collection_check_boxes(:tag, :tag_ids, @tags, :id, :name, include_hidden: false) %>
  <%= submit_tag :search %>
<% end %>
  <!-- Bar used bay users to search for gams by developer. All developers that include the entered string will be returned. -->

<%= form_tag(games_path, :method => 'get', id: 'search-form') do %>
    <div>
      <%= label_tag :search_user %>
      <%= text_field_tag :search_user, [:search_user], placeholder: 'Search' %>
      <%= submit_tag :search %>
    </div>
  <% end %>
