<div class ="game-show">
   <div>
 <div id="home-slideshow" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
     <li data-target="#home-slideshow" data-slide-to="0" class="active"></li>
     <li data-target="#home-slideshow" data-slide-to="1"></li>
     <li data-target="#home-slideshow" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner" role="listbox">
     <div class="item active">
       <%= image_tag "http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/04/HLD-Header.jpg", class: "carousel-image" %>
     </div>
     <div class="item">
       <%= image_tag "http://blogs-images.forbes.com/erikkain/files/2016/01/February-Indie-Games-1200x676.jpg", class: "carousel-image" %>
     </div>
     <div class="item">
       <%= image_tag "http://cdn.wccftech.com/wp-content/uploads/2016/01/Deaths-Gambit.jpg", class: "carousel-image" %>
     </div>
   </div>
 </div>
</div>
<div class="container sentences">
 <% if user_is_admin? %>
   <%= render "show_admin" %>
 <% elsif user_is_dev? %>
   <%= render "show_dev" %>
 <% else %>
   <%= render "show_gamer" %>
 <% end %>
</div>
</div>
