<div class ="game-show">
   <div>
   <div id="home-slideshow" class="carousel slide" data-ride="carousel">
     <% if @game.pictures.length.zero? %>
      <div class="carousel-inner" role="listbox">
        <%= image_tag "fallback/default.png", class: "carousel-image" %>
      </div>
     <% else %>
       <ol class="carousel-indicators">
         <% @game.pictures.each_with_index do |pic, i| %>
           <li data-target="#home-slideshow" data-slide-to= <%= "#{i}" %>
             <% if i == 0 %>
             class="active">
             <% else %>
             class="">
             <% end %>
           </li>
         <% end %>
       </ol>
       <div class="carousel-inner" role="listbox">
         <% @game.pictures.each_with_index do |picture, index| %>
         <% url = picture.url %>
         <% if  index == 0 %>
         <div class="item active">
           <%= image_tag url, class: "carousel-image" %>
         </div>
         <% else  %>
         <div class="item">
           <%= image_tag url, class: "carousel-image" %>
         </div>
         <% end %>
         <% end %>
       </div>
     <% end %>
   </div>
  </div>
  <div class="container sentences">
   <% if user_is_admin? %>
     <%= render "show_admin" %>
   <% elsif user_is_dev? %>
     <%= render "show_dev" %>
   <% else %>
     <%= render "show_gamer" %>
   <% end %>
  </div>
</div>
