<div class ="game-show">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2 style="font-weight:bold; margin-bottom: 20px; color: #EF7030;"><%= @game.title %></h2>
    <p><%= @game.description %></p>
    <!-- game management begins -->
    <% if (user_is_dev? && @game.user_id == current_user.id ) ||
      user_is_admin? %>
      <p>Type:
        <% @game.taggings.map do |tagging| %>
        <%= Tag.find(tagging.tag_id).name %> &nbsp;|&nbsp;
        <% end %>
      </p>
      <div class="container-fluid" style="background-color: steelblue">
    <%# if can?(:manage, @game) %>
    <% if user_is_admin? ||
      ( user_is_dev? && @game.user_id == current_user.id) %>
      <div class="radiolist">
        <%= simple_form_for(@game) do |f| %>
        <%= f.error_notification %>
        <p>
          <%= link_to "Download Game", @game.download_button, class: "btn btn-default" %>
          <% if @game.may_approve?  %>
          <%= f.button :submit, Game::STATE_APPROVE, value: "Approve Game" %>
          <% end %>
          <% if @game.may_reject? %>
          <%= f.button :submit, Game::STATE_REJECT, value: "Reject Game" %>
          <% end %>
        </p>
        <% end %>
      </div>
      <% end %>

      <%# if (can? :manage, @game ) %>

        <div>
          <p>
          <%= link_to "Download Pdf", game_review_path(@game.id), class:"btn btn-default" %>
          <%= link_to "Download Game", @game.attachment_url, class:"btn btn-default" %>
          <%= link_to "Download Crash", href="#", class:"btn btn-default" %>
        </p>
        </div>
        <% end %>
      </div>
<!-- end of game management -->
  </div>
  <div class="col-md-6 col-sm-6">
    <!-- image carousel begins -->
  <div>
    <div id="home-slideshow" class="carousel slide" data-ride="carousel">
      <% if @game.pictures.length.zero? %>
        <div class="carousel-inner" role="listbox">
          <%= image_tag "fallback/default.png", class: "carousel-image" %>
        </div>
      <% else %>
        <ol class="carousel-indicators">
          <% @game.pictures.each_with_index do |pic, i| %>
            <li data-target="#home-slideshow" data-slide-to= <%= "#{i}" %>
              <% if i == 0 %>
                class="active">
              <% else %>
                class="">
              <% end %>
            </li>
          <% end %>
        </ol>
        <div class="carousel-inner" role="listbox">
          <% @game.pictures.each_with_index do |picture, index| %>
            <% url = picture.url %>
            <% if index == 0 %>
              <div class="item active">
                <%= image_tag url, class: "carousel-image" %>
              </div>
            <% else  %>
              <div class="item">
                <%= image_tag url, class: "carousel-image" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- end of image carousel -->
  <div>
    <!-- game stats begin -->

    <p class="char1">Made by: <%= @game.user_company %></p>
    <p>Date: <%= @game.formatted_created_at %></p>
    <p>Type: <%= @game.type_display %></p>
    <p>Last in Arcade: <%= @game.last_in_arcade %></p>
    <p>Played: <%= @game.reviews_count %> times</p>
    <p>Overall Rating: <%= @game.reviews_count %></p>
<!-- end of game stats -->
    <% if user_is_gamer? %>
         <div>
           <%= button_to "Buy", @game.link, class:"orange" %>
        </div>
    <% end %>

    <div class="container">
    <!-- <div class="back-btn-update"><%= button_to "Back", games_path, class:"orange" %></div> -->
   </div>
</div>

  </div>
</div>
</div>
