<div class ="game-show">
   <div>
   <div id="home-slideshow" class="carousel slide" data-ride="carousel">
     <ol class="carousel-indicators">
       <li data-target="#home-slideshow" data-slide-to="0" class="active"></li>
       <li data-target="#home-slideshow" data-slide-to="1"></li>
       <li data-target="#home-slideshow" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner" role="listbox">
       <div class="item active">
         <%= image_tag "http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/04/HLD-Header.jpg", class: "carousel-image" %>
       </div>
       <div class="item">
         <%= image_tag "http://blogs-images.forbes.com/erikkain/files/2016/01/February-Indie-Games-1200x676.jpg", class: "carousel-image" %>
       </div>
       <div class="item">
         <%= image_tag "http://cdn.wccftech.com/wp-content/uploads/2016/01/Deaths-Gambit.jpg", class: "carousel-image" %>
       </div>
     </div>
   </div>
  </div>
  <div class="container sentences">
    <!--  -->
    <h2 style="font-weight:bold; margin-bottom: 20px; color: #EF7030;"><%= @game.title %></h2>

    <p class="char1">Made by: <%= @game.user_company %></p>
    <p>Date: <%= @game.formatted_created_at %></p>
    <p>Type: <%= @game.type_display %></p>
    <p>Last in Arcade: <%= @game.last_in_arcade %></p>
    <p>Played: <%= @game.reviews_count %> times</p>
    <p>Overall Rating: <%= @game.reviews_count %></p>

    <%# if can?(:manage, @game) %>
    <% if user_is_admin? ||
        ( user_is_dev? && @game.user_id == current_user.id) %>
       <%= @game.download_button %>
         <div class="radiolist">
           <%= simple_form_for(@game) do |f| %>
           <%= f.error_notification %>
             <div>
               <% if @game.may_approve?  %>
                 <%= f.button :submit, Game::STATE_APPROVE %>
               <% end %>
               <% if @game.may_reject? %>
                 <%= f.button :submit, Game::STATE_REJECT %>
               <% end %>
            </div>
         <% end %>
       </div>
    <% end %>

    <%# if (can? :manage, @game ) %>
    <% if user_is_dev? && ( @game.user_id == current_user[:id]) %>
         <div>
           <p>Type:
           <% @game.taggings.map do |tagging| %>
              <%= Tag.find(tagging.tag_id).name %> &nbsp;|&nbsp;
           <% end %>
           </p>
        </div>
         <div>
           <%= button_to "Buy", @game.link, class:"button" %>
        </div>

         <div class="container">
          <%= button_to "Download Pdf", game_review_path(@game.id), class:"orange" %>
          <%= button_to "Download Game", @game.attachment_url, class:"orange" %>
        </div>
    <% end %>

    <div class="container">
      <a class="orange" href="#">Download crash logs</a>
    <div class="back-btn-update"><%= button_to "Back", games_path, class:"orange" %></div>


  </div>
</div>
