<footer>
    <div class="home-footer footer navbar-bottom">
        <div class="home-footer-left">
            <div><%= image_tag "logo.png" %></div>
            <div><%= link_to "About", about_path %></div>
            <div><%= link_to "Contact", contact_path %></div>
            <div><%= link_to "FAQ", faq_path %></div>
        </div>
        <div class="home-footer-right">
            <div>WEBSITE MADE BY:</div>
            <div><%= image_tag "json-squad-logo.png", class: "json-logo" %></div>
            <div><%= image_tag "codecore-logo.png", class: "codecore-logo" %></div>
        </div>
    </div>
</footer>
