<!DOCTYPE html>
<html>
    <head>
        <title>IndieArcade</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Prompt:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    </head>

    <body>

        <!-- NAV BAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid" id="nav-wrapper">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="logo-container">
                        <a class="navbar-left" href="<%= root_path %>">
                            <%= image_tag "logo.png" %>
                        </a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <%= link_to "Games", games_path %>
                        </li>
                        <% if user_signed_in? %>

                        <li>
                            <a>Welcome, <%= current_user.company %></a>

                        </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>My Profile</a>
                            <ul class="dropdown-menu">
                              <!-- add stuff later. Need different menues for admin vs dev -->
                              <li><%= link_to "Some Stuff", home_index_path %></li>
                              <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
                            </ul>
                          </li>
                        <% else %>
                          <li><%= link_to "Log-in", new_session_path %></li>
                          <li><%= link_to "Register", new_user_path %></li>
                        <% end %>

                        <!-- PLACEHOLDER - BROWSE FOR GAMES -->
                        <li class="game-search">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-search" id="search"></span>
                            </a>
                            <form id="search-wrapper" method="post"  action="/games">
                                <input type="text" class="form-control" name="search-bar" placeholder="Search for a game or a studio" id="search">
                                <button type="submit" class="btn btn-default" style="display: none">Submit</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- End of NAVBAR -->

        <div style="margin-top: 50px;">
          <%= yield %>
        </div>

        <hr style="margin-top:0px;">

        <!-- Footer -->
        <div class="home-footer">
            <div class="home-footer-left">
                <div><%= image_tag "logo.png" %></div>
                <div><%= link_to "About", about_path %></div>
                <div><%= link_to "Contact", root_path %></div>
                <div><%= link_to "FAQ", root_path %></div>
            </div>

            <div class="home-footer-right">
                <div>WEBSITE MADE BY:</div>
                <div><%= image_tag "json-squad-logo.png", class: "json-logo" %></div>
                <div><%= image_tag "codecore-logo.png", class: "codecore-logo" %></div>
            </div>
        </div>
        <!-- FOOOTER -->

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        </body>
    </html>
