<!DOCTYPE html>
<html>
    <head>
        <title>IndieArcade</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all'%>
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="line"> </div>
        <!-- <div style="margin-top: 50px; min-height: 500px;"> -->
          <% if user_is_gamer? %>
            <%= render 'layouts/nav_gamer' %>
          <% end %>
          <% if user_is_dev? %>
            <%= render 'layouts/nav_dev' %>
          <% end %>
          <% if user_is_admin? %>
            <%= render 'layouts/nav_admin' %>
          <% end %>
          <main class="container">
            <%= yield %>
          </main>

          <%= render "layouts/footer" %>

          <%= javascript_include_tag 'application' %>


        </body>
    </html>
