<!DOCTYPE html>
<html>
    <head>
        <title>IndieArcade</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Prompt:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
        <!-- this makes everything responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div style="margin-top: 50px; min-height: 500px;">
      <!-- NAV BAR FOR GAMER-->
      <% if user_is_gamer? %>
        <%= render 'layouts/nav_gamer' %>
      <% end %>
      <!-- NAV BAR FOR DEV-->
      <% if user_is_dev? %>
        <%= render 'layouts/nav_dev' %>
      <% end %>
      <!-- NAV BAR FOR ADMIN-->
      <% if user_is_admin? %>
        <%= render 'layouts/nav_admin' %>
      <% end %>

        <div style="margin-top: 50px;">
          <%= yield %>
        </div>

        <!-- Footer -->
        <footer>
            <div class="home-footer">
                <div class="home-footer-left">
                    <div><%= image_tag "logo.png" %></div>
                    <div><%= link_to "About", about_path %></div>
                    <div><%= link_to "Contact", contact_path %></div>
                    <div><%= link_to "FAQ", faq_path %></div>
                </div>
                <div class="home-footer-right">
                    <div>WEBSITE MADE BY:</div>
                    <div><%= image_tag "json-squad-logo.png", class: "json-logo" %></div>
                    <div><%= image_tag "codecore-logo.png", class: "codecore-logo" %></div>
                </div>
            </div>
        </footer>
        <!-- FOOOTER -->

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        </body>
    </html>
